# Server
PORT=3000

# SMTP (Nodemailer)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=delzmiyaki@gmail.com
SMTP_PASS=uzslhitluhlookdn

# Email
MAIL_FROM="My App <no-reply@example.com>"
MAIL_TO=morenikejisunday12@gmail.com